image: python:3

before_script:
  - python3 -m pip install tornado pdfrw reportlab dicttoxml xmltodict tinydb ujson nose

unit_tests:
  script:
    - export PYTHONPATH=/builds/exit_0/MF_char_gen/TRUNK/:$PYTHONPATH
    - cd /builds/exit_0/MF_char_gen/TRUNK/tests/
    - nosetests -v *.py
